<div class="container">
<div class="box1">
  <%= render 'form' %>
</div>

<div class="box2">
  <h3>N запросов</h3>

      <div class="messagebox">
      <% @messages.each do |message| %>
          <%= message.text %><br>
      <% end %>
      </div>
</div>
</div>

<br>

