<div class="container">
  <div id="message_form" class="box1">
    <%= render 'form' %>
  </div>

  <div class="box2">
    <div id="requests">
      <%= render 'requests' %>
    </div>
    <div id="messages" class="messagebox">
      <%= render 'messages' %>
    </div>
    <div class='right'>
      <small>
        <%= link_to "Очистить", "/messages/destroy_all", remote: true %>
      </small>
    </div>
  </div>
</div>
<br>

