// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

}

.container {
    overflow:hidden;
    width:100%;
}

.box1 {
  float: left;
  width: 49%;
  height: 300px;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.box2 {
  float: right;
  width: 49%;
  height: 300px;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.messagebox {
/*  background-color: #eeeeee;*/
  height: 180px;
  padding: 10px;
  border: 1px solid #eeeeee;
  overflow-y: auto;
}

.message_form {
  position: relative;
  top: 33%;
  margin: auto;
  width: 200px;
}

.right {
  float: right;
}

.red {
  color: red;
}